#contact .card .card-content .input-field {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 12px;
}
#contact .card .card-content .input-field label {
  left: 0;
  font-weight: normal;
  top: 0.5rem;
}

#contact .card .card-content .input-field input:focus ~ label,
#contact .card .card-content .input-field input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label{
  top: -11px !important;
  font-size: 14px;
  color: #5264ae;
}

#contact .card .card-content .btn {
  background-color: #5d4037;
  width: 115px;
  color: #fff;
  border-radius: 2px;
  margin-top: 7px;
}
#contact .card .card-content .btn:hover {
  background: #84655c;
}
#contact .card .card-content .thankyou {
  text-align: center;
}
#contact .card .progress {
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: #1976d2;
  border-radius: 0;
  margin: -4px 0 0;
}
#contact .card .indeterminate {
  background-color: #fff;
}
#contact #myMap {
  width: 100%;
  height: 417px;
}
#contact #myMap .map-label {
  width: 36px;
  height: 36px;
  border-radius: 50% 50% 50% 0;
  background: #1976d2;
  position: absolute;
  -webkit-transform: rotate(-45deg) !important;
  transform: rotate(-45deg) !important;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
@-moz-document url-prefix() {
  #contact #myMap {
    height: 412px;
  }
}
@media screen and (max-width: 480px) {
  #contact #myMap {
    height: 300px;
  }
}
.leaflet-container {
  height: 418px;
  width: 100%;
}
#contact input:not([type]):focus:not([readonly]) + label,
#contact input[type="text"]:focus:not([readonly]) + label,
#contact input[type="password"]:focus:not([readonly]) + label,
#contact input[type="email"]:focus:not([readonly]) + label,
#contact input[type="url"]:focus:not([readonly]) + label,
#contact input[type="time"]:focus:not([readonly]) + label,
#contact input[type="date"]:focus:not([readonly]) + label,
#contact input[type="datetime-local"]:focus:not([readonly]) + label,
#contact input[type="tel"]:focus:not([readonly]) + label,
#contact input[type="number"]:focus:not([readonly]) + label,
#contact input[type="search"]:focus:not([readonly]) + label,
#contact textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #1976d2;
}
#contact input:not([type]):focus:not([readonly]),
#contact input[type="text"]:focus:not([readonly]),
#contact input[type="password"]:focus:not([readonly]),
#contact input[type="email"]:focus:not([readonly]),
#contact input[type="url"]:focus:not([readonly]),
#contact input[type="time"]:focus:not([readonly]),
#contact input[type="date"]:focus:not([readonly]),
#contact input[type="datetime-local"]:focus:not([readonly]),
#contact input[type="tel"]:focus:not([readonly]),
#contact input[type="number"]:focus:not([readonly]),
#contact input[type="search"]:focus:not([readonly]),
#contact textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #1976d2;
  box-shadow: 0 1px 0 0 #1976d2;
}
#contact input:not([type]),
#contact input[type="text"],
#contact input[type="password"],
#contact input[type="email"],
#contact input[type="url"],
#contact input[type="time"],
#contact input[type="date"],
#contact input[type="datetime-local"],
#contact input[type="tel"],
#contact input[type="number"],
#contact input[type="search"],
#contact textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gainsboro;
  border-radius: 0;
  outline: none;
  height: 2rem;
  width: 100%;
  font-size: 1rem;
  margin: 6px 0 6px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.5s;
}
#contact textarea.materialize-textarea {
  overflow-y: hidden;
  resize: none;
  min-height: 5rem;
}

.chip img {
  float: left;
  margin: 0 8px 0 -12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.chip i.material-icons {
  cursor: pointer;
  float: right;
  font-size: 16px;
  line-height: 32px;
  padding-left: 8px;
}

.materialboxed {
  display: block;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  position: relative;
  transition: opacity 0.4s;
}

.materialboxed:hover {
  will-change: left, top, width, height;
}

.materialboxed:hover:not(.active) {
  opacity: 0.8;
}

.materialboxed.active {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

#materialbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #292929;
  z-index: 999;
  will-change: opacity;
}

.materialbox-caption {
  position: fixed;
  display: none;
  color: #fff;
  line-height: 50px;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0 15%;
  height: 50px;
  z-index: 1000;
  -webkit-font-smoothing: antialiased;
}

select:focus {
  outline: #c9f3ef solid 1px;
}

button:focus {
  outline: 0;
  background-color: #2ab7a9;
}

label {
  font-size: 0.8rem;
  color: #9e9e9e;
}

::-webkit-input-placeholder {
  color: #d1d1d1;
}

:-moz-placeholder {
  color: #d1d1d1;
}

::-moz-placeholder {
  color: #d1d1d1;
}

:-ms-input-placeholder {
  color: #d1d1d1;
}

input:not([type]),
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: 0;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}

input:not([type]):disabled,
input:not([type])[readonly="readonly"],
input[type="date"]:disabled,
input[type="date"][readonly="readonly"],
input[type="datetime-local"]:disabled,
input[type="datetime-local"][readonly="readonly"],
input[type="email"]:disabled,
input[type="email"][readonly="readonly"],
input[type="number"]:disabled,
input[type="number"][readonly="readonly"],
input[type="password"]:disabled,
input[type="password"][readonly="readonly"],
input[type="search"]:disabled,
input[type="search"][readonly="readonly"],
input[type="tel"]:disabled,
input[type="tel"][readonly="readonly"],
input[type="text"]:disabled,
input[type="text"][readonly="readonly"],
input[type="time"]:disabled,
input[type="time"][readonly="readonly"],
input[type="url"]:disabled,
input[type="url"][readonly="readonly"],
textarea.materialize-textarea:disabled,
textarea.materialize-textarea[readonly="readonly"] {
  color: rgba(0, 0, 0, 0.26);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.26);
}

input:not([type]):disabled + label,
input:not([type])[readonly="readonly"] + label,
input[type="date"]:disabled + label,
input[type="date"][readonly="readonly"] + label,
input[type="datetime-local"]:disabled + label,
input[type="datetime-local"][readonly="readonly"] + label,
input[type="email"]:disabled + label,
input[type="email"][readonly="readonly"] + label,
input[type="number"]:disabled + label,
input[type="number"][readonly="readonly"] + label,
input[type="password"]:disabled + label,
input[type="password"][readonly="readonly"] + label,
input[type="search"]:disabled + label,
input[type="search"][readonly="readonly"] + label,
input[type="tel"]:disabled + label,
input[type="tel"][readonly="readonly"] + label,
input[type="text"]:disabled + label,
input[type="text"][readonly="readonly"] + label,
input[type="time"]:disabled + label,
input[type="time"][readonly="readonly"] + label,
input[type="url"]:disabled + label,
input[type="url"][readonly="readonly"] + label,
textarea.materialize-textarea:disabled + label,
textarea.materialize-textarea[readonly="readonly"] + label {
  color: rgba(0, 0, 0, 0.26);
}

input:not([type]):focus:not([readonly]),
input[type="date"]:focus:not([readonly]),
input[type="datetime-local"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="time"]:focus:not([readonly]),
input[type="url"]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}

input:not([type]):focus:not([readonly]) + label,
input[type="date"]:focus:not([readonly]) + label,
input[type="datetime-local"]:focus:not([readonly]) + label,
input[type="email"]:focus:not([readonly]) + label,
input[type="number"]:focus:not([readonly]) + label,
input[type="password"]:focus:not([readonly]) + label,
input[type="search"]:focus:not([readonly]) + label,
input[type="tel"]:focus:not([readonly]) + label,
input[type="text"]:focus:not([readonly]) + label,
input[type="time"]:focus:not([readonly]) + label,
input[type="url"]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #26a69a;
}

input:not([type]).valid,
input:not([type]):focus.valid,
input[type="date"].valid,
input[type="date"]:focus.valid,
input[type="datetime-local"].valid,
input[type="datetime-local"]:focus.valid,
input[type="email"].valid,
input[type="email"]:focus.valid,
input[type="number"].valid,
input[type="number"]:focus.valid,
input[type="password"].valid,
input[type="password"]:focus.valid,
input[type="search"].valid,
input[type="search"]:focus.valid,
input[type="tel"].valid,
input[type="tel"]:focus.valid,
input[type="text"].valid,
input[type="text"]:focus.valid,
input[type="time"].valid,
input[type="time"]:focus.valid,
input[type="url"].valid,
input[type="url"]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #4caf50;
}

input:not([type]).valid + label:after,
input:not([type]):focus.valid + label:after,
input[type="date"].valid + label:after,
input[type="date"]:focus.valid + label:after,
input[type="datetime-local"].valid + label:after,
input[type="datetime-local"]:focus.valid + label:after,
input[type="email"].valid + label:after,
input[type="email"]:focus.valid + label:after,
input[type="number"].valid + label:after,
input[type="number"]:focus.valid + label:after,
input[type="password"].valid + label:after,
input[type="password"]:focus.valid + label:after,
input[type="search"].valid + label:after,
input[type="search"]:focus.valid + label:after,
input[type="tel"].valid + label:after,
input[type="tel"]:focus.valid + label:after,
input[type="text"].valid + label:after,
input[type="text"]:focus.valid + label:after,
input[type="time"].valid + label:after,
input[type="time"]:focus.valid + label:after,
input[type="url"].valid + label:after,
input[type="url"]:focus.valid + label:after,
textarea.materialize-textarea.valid + label:after,
textarea.materialize-textarea:focus.valid + label:after {
  content: attr(data-success);
  color: #4caf50;
  opacity: 1;
}

input:not([type]).invalid,
input:not([type]):focus.invalid,
input[type="date"].invalid,
input[type="date"]:focus.invalid,
input[type="datetime-local"].invalid,
input[type="datetime-local"]:focus.invalid,
input[type="email"].invalid,
input[type="email"]:focus.invalid,
input[type="number"].invalid,
input[type="number"]:focus.invalid,
input[type="password"].invalid,
input[type="password"]:focus.invalid,
input[type="search"].invalid,
input[type="search"]:focus.invalid,
input[type="tel"].invalid,
input[type="tel"]:focus.invalid,
input[type="text"].invalid,
input[type="text"]:focus.invalid,
input[type="time"].invalid,
input[type="time"]:focus.invalid,
input[type="url"].invalid,
input[type="url"]:focus.invalid,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea:focus.invalid {
  border-bottom: 1px solid #f44336;
  box-shadow: 0 1px 0 0 #f44336;
}

input:not([type]).invalid + label:after,
input:not([type]):focus.invalid + label:after,
input[type="date"].invalid + label:after,
input[type="date"]:focus.invalid + label:after,
input[type="datetime-local"].invalid + label:after,
input[type="datetime-local"]:focus.invalid + label:after,
input[type="email"].invalid + label:after,
input[type="email"]:focus.invalid + label:after,
input[type="number"].invalid + label:after,
input[type="number"]:focus.invalid + label:after,
input[type="password"].invalid + label:after,
input[type="password"]:focus.invalid + label:after,
input[type="search"].invalid + label:after,
input[type="search"]:focus.invalid + label:after,
input[type="tel"].invalid + label:after,
input[type="tel"]:focus.invalid + label:after,
input[type="text"].invalid + label:after,
input[type="text"]:focus.invalid + label:after,
input[type="time"].invalid + label:after,
input[type="time"]:focus.invalid + label:after,
input[type="url"].invalid + label:after,
input[type="url"]:focus.invalid + label:after,
textarea.materialize-textarea.invalid + label:after,
textarea.materialize-textarea:focus.invalid + label:after {
  content: attr(data-error);
  color: #f44336;
  opacity: 1;
}

input:not([type]) + label:after,
input[type="date"] + label:after,
input[type="datetime-local"] + label:after,
input[type="email"] + label:after,
input[type="number"] + label:after,
input[type="password"] + label:after,
input[type="search"] + label:after,
input[type="tel"] + label:after,
input[type="text"] + label:after,
input[type="time"] + label:after,
input[type="url"] + label:after,
textarea.materialize-textarea + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 65px;
  opacity: 0;
  transition: 0.2s opacity ease-out, 0.2s color ease-out;
}

.input-field {
  position: relative;
  margin-top: 1rem;
}

.input-field label {
  color: #9e9e9e;
  position: absolute;
  top: 0.8rem;
  left: 0.75rem;
  font-size: 1rem;
  cursor: text;
  transition: 0.2s ease-out;
}

.input-field label.active {
  font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  transform: translateY(-140%);
}

.input-field .prefix {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  transition: color 0.2s;
}

.input-field .prefix.active {
  color: #26a69a;
}

.input-field .prefix ~ input,
.input-field .prefix ~ textarea {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem);
}

.input-field .prefix ~ textarea {
  padding-top: 0.8rem;
}

.input-field .prefix ~ label {
  margin-left: 3rem;
}

@media only screen and (max-width: 992px) {
  .input-field .prefix ~ input {
    width: 86%;
    width: calc(100% - 3rem);
  }
}

@media only screen and (max-width: 600px) {
  .input-field .prefix ~ input {
    width: 80%;
    width: calc(100% - 3rem);
  }
}

.input-field input[type="search"] {
  display: block;
  line-height: inherit;
  padding-left: 4rem;
  width: calc(100% - 4rem);
}

.input-field input[type="search"]:focus {
  background-color: #fff;
  border: 0;
  box-shadow: none;
  color: #444;
}

.input-field input[type="search"]:focus + label i,
.input-field input[type="search"]:focus ~ .material-icons,
.input-field input[type="search"]:focus ~ .mdi-navigation-close {
  color: #444;
}

.input-field input[type="search"] + label {
  left: 1rem;
}

.input-field input[type="search"] ~ .material-icons,
.input-field input[type="search"] ~ .mdi-navigation-close {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.3s color;
}

textarea {
  width: 100%;
  height: 3rem;
  background-color: transparent;
}

textarea.materialize-textarea {
  overflow-y: hidden;
  padding: 1.6rem 0;
  resize: none;
  min-height: 3rem;
}

.hiddendiv {
  display: none;
}
.text-uppercase {
  text-transform: uppercase;
}
